.container {}

.header {
  height: 72px;
  border-bottom: 1px solid #CDCDCD;
  padding: 0 48px;
  display: flex;
  align-items: center;

}

.header > a:last-of-type {
  margin-left: 96px;
}

.main {
  padding: 24px 48px;
}
